/* line 4, ../sass/screen.scss */
body {
  background-color: #e74c3c;
  color: #fff;
}

/* line 9, ../sass/screen.scss */
.modal {
  background-color: #c0392b;
  width: 400px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -200px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

@-moz-keyframes spinner-delay {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes spinner-delay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes spinner-delay {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/* line 30, ../sass/screen.scss */
.spinner {
  font-size: 10px;
  height: 30px;
  margin: auto;
  padding-top: 55px;
  text-align: center;
  width: 50px;
}
/* line 38, ../sass/screen.scss */
.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -moz-animation: spinner-delay 1.2s infinite ease-in-out;
  -webkit-animation: spinner-delay 1.2s infinite ease-in-out;
  animation: spinner-delay 1.2s infinite ease-in-out;
}
/* line 49, ../sass/screen.scss */
.spinner .rect1 {
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
/* line 49, ../sass/screen.scss */
.spinner .rect2 {
  -moz-animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 49, ../sass/screen.scss */
.spinner .rect3 {
  -moz-animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
/* line 49, ../sass/screen.scss */
.spinner .rect4 {
  -moz-animation-delay: -0.7s;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
/* line 49, ../sass/screen.scss */
.spinner .rect5 {
  -moz-animation-delay: -0.6s;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
/* line 54, ../sass/screen.scss */
.spinner span {
  padding-top: 15px;
  font-size: 15px;
  white-space: nowrap;
}
