//导入compass中的css3模块
@import "compass/css3";

body {
  background-color: #e74c3c;
  color: #fff;
}

.modal {
  background-color: #c0392b;
  width: 400px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -200px;
  @include border-radius(8px) /*@include命令表示调用某个mixin*/
}

//loading动画效果
@include keyframes(spinner-delay) {
  0%, 40%, 100% {
    @include transform(scaleY(0.4))
  }
  20% {
    @include transform(scaleY(1.0))
  }
}

.spinner {
  font-size: 10px;
  height: 30px;
  margin: auto;
  padding-top: 55px;
  text-align: center;
  width: 50px;
  //  '>'表示选择spinner之后的所有div元素
  > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    //给5个div绑定动画效果
    @include animation(spinner-delay 1.2s infinite ease-in-out)
  }

  //延迟触发动画效果
  @for $i from 1 through 5 {
    .rect#{$i} {
      @include animation-delay(-1.1s + ($i/10))
    }
  }

  span {
    padding-top: 15px;
    font-size: 15px;
    white-space: nowrap;
  }
}
